<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0zOaoGOmNu4mRCNUoFUzglEM3gsOPwzs</string>
	<key>GCM_SENDER_ID</key>
	<string>721168604995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>louisianVideos</string>
	<key>PROJECT_ID</key>
	<string>louisianvideo-50384</string>
	<key>STORAGE_BUCKET</key>
	<string>louisianvideo-50384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721168604995:ios:ee505f7e32b7fdca11d9f6</string>
</dict>
</plist>